*{
    font-family: Arial, Helvetica, sans-serif;
}


.main {
  background-color: coral;
  padding: 10px 10px; 
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 40px;
}
    

.row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.row a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.back{
    height: 300px;
    width: 1500px;
    background-image: url(images/indian-food-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 30px;
    background-position: center;
    position: relative;
    padding: 2px;
}

.back h3, .back p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 5px black;
}

.back h3 {
    top: 40%;
}
.back p{
    top: 55%;
    font-size: 20px;
}


.middle{
    color:coral;
    text-align: center;
    padding: 10px 10px;
    
}

.food-card img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin-right: 25px;
    object-fit: cover;
}

.food-card{
    display: flow-root;
    background-color: rgb(250, 247, 247);
    padding: 20px;
    margin: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.686);
}

.art{
    background-color: coral;
    text-align: center;
    border-top: 50px solid blue;
    border-radius: 10px;
    font-size: 24px;
    box-sizing: content-box;
    margin: 10px;
    padding: 10px;
    width: 455px;
    height: 300px;
    float: left;
    box-shadow: 10px 10px 10px rgb(64, 63, 63);
}
.art2{
    background-color: coral;
    text-align: center;
    border-top: 50px solid blue;
    border-radius: 10px;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    width: 455px;
    height: 300px;
    float: left;
    box-sizing: content-box;
    box-shadow: 10px 10px 10px rgb(64, 63, 63);
}
.art3{
    background-color: coral;
    text-align: center;
    border-top: 50px solid blue;
    border-radius: 10px;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
    width: 455px;
    height: 300px;
    float:left;
    box-sizing: content-box;
    box-shadow: 10px 10px 10px rgb(64, 63, 63);
}


h1{
    text-align: center;
    margin-bottom: 40px;

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* max-width: 1000px; */
    margin: auto;
}

.place-card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
}

.place-card img {
    width: 200px;
    height: 10opx; 
}
.place-card p {
    margin: 10px;
    font-weight: bold;

}